.jlab-button {
    border: 1px solid white;
    border-radius: 3px;
    padding: 11px 30px;
    /*background-color: rgb(245, 245, 245);*/
    background-color: #FFB54F;
    color: white;
    font-size: 12px;
    font-weight: 900;
    transition: background-color, color, 500ms;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    height: 36px;
    font-family: "OpenSansRegular",FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: .04em;
}

.jlab-button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

.jlab-button:hover:not(:disabled){
    transition: background-color, color, 250ms;
    /*box-shadow: 0px 0px 19px white;*/
    text-shadow: 0 0 9px;
}
.jlab-button-block .jlab-button{
    float: left;
    border-right-width: 0;
    border-radius: 0;
}
.jlab-button-block .jlab-button:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

}
.jlab-button-block .jlab-button:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right-width: 1px;
}

.jlab-close-message-button{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid white;
    background-color: #FFB54F;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    margin-top: 60px;
    transition: background-color, color, 250ms;
}
.jlab-close-message-button:hover{
    text-shadow: 0 0 9px white;
    transition: background-color, color, 150ms;
}
.jlab-close-message-button:active{
    background-color: #ffffff;
    color: #6b6b6b;
    transition: background-color, color, 5ms;
}


