.jlab-button{
    border: 1px solid gray;
    border-radius: 0px;
    padding: 4px 18px;
    background-color: rgb(245, 245, 245);
    color: black;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
    transition: 500ms;
    cursor: pointer;
}


.jlab-button-disabled{
    border: 1px solid gray;
    border-radius: 0px;
    padding: 4px 18px;
    background-color: rgb(245, 245, 245);
    color:rgba(0, 0, 0, 0.34);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
    transition: 500ms;
    cursor: not-allowed;
}
.jlab-button-left{
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 4px 18px;
    background-color: rgb(245, 245, 245);
    color: black;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
    transition: 500ms;
    cursor: pointer;
}

.jlab-button-disabled-left{
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 4px 18px;
    background-color: rgb(245, 245, 245);
    color:rgba(0, 0, 0, 0.34);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
    transition: 500ms;
    cursor: not-allowed;
}
.jlab-button-right{
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4px 18px;
    background-color: rgb(245, 245, 245);
    color: black;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
    transition: 500ms;
    cursor: pointer;
}

.jlab-button-disabled-right{
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4px 18px;
    background-color: rgb(245, 245, 245);
    color:rgba(0, 0, 0, 0.34);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
    transition: 500ms;
    cursor: not-allowed;
}

.jlab-button:hover{
    color: #ed1c24;
    background-color: #fff;
    transition: 250ms;
    box-shadow: 0px 0px 19px white;
}
.jlab-button-right:hover{
    color: #ed1c24;
    background-color: #fff;
    transition: 250ms;
    box-shadow: 0px 0px 19px white;
}
.jlab-button-left:hover{
    color: #ed1c24;
    background-color: #fff;
    transition: 250ms;
    box-shadow: 0px 0px 19px white;
}