.jlab-button {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 8px 30px;
    background-color: rgb(245, 245, 245);
    color: black;
    font-size: 12px;
    font-weight: 900;
    transition: background-color, color, 500ms;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    height: 30px;
    font-family: "OpenSansRegular",FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    line-height: 12px;
}

.jlab-button:disabled{
    background-color: rgb(245, 245, 245);
    color:rgba(0, 0, 0, 0.34);
    cursor: not-allowed;
}

.jlab-button:hover:not(:disabled){
    color: #ed1c24;
    background-color: #fff;
    transition: background-color, color, 250ms;
    /*box-shadow: 0px 0px 19px white;*/
}
.jlab-button-block .jlab-button{
    float: left;
    border-right-width: 0;
    border-radius: 0;
}
.jlab-button-block .jlab-button:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

}
.jlab-button-block .jlab-button:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right-width: 1px;
}

.jlab-close-message-button{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid grey;
    background-color: rgba(56, 56, 56, 0.29);
    color: white;
    font-size: 25px;
    font-weight: 900;
    margin-top: 60px;
    transition: background-color, color, 250ms;
}
.jlab-close-message-button:hover{
    background-color: rgba(245, 245, 245, 0.80);
    color: black;
    text-shadow: 0 0 5px white;
    transition: background-color, color, 150ms;
}
.jlab-close-message-button:active{
    background-color: rgba(255, 255, 255, 0.95);
    color: black;
    transition: background-color, color, 5ms;
}


