ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding: 0;
    border: none;
    /*background-image: url("../img/sheet5.png");*/
}
ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #c3c3c3;
}
ul li:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
ul li:last-child {
    border-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: Verdana, Arial, sans-serif;
    font-size: 15px;
}

.jlab-header-caption-black{
    font-size: 20px;
    font-weight: 900;
    color: black;
}
.jlab-header-caption-red{
    font-size: 20px;
    font-weight: 900;
    color: #ed1c24;
}

.jlab-header-panel{
    padding-top: 10px;
    padding-left: 40px;
    margin: 0;
    position: fixed;
    top: 0;
    min-width: 100%;
    height: 30px;
    background-color: #ffffff;
    border-bottom-color: #f0f0f0;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    box-shadow: 6px 1px 10px 1px rgba(0, 0, 0, 0.71);
}
.jlab-margin-top-70{
    margin-top: 70px;
}

.jlab-contact-table-top-navigation-bar{
    border-radius: 5px;
    background-color: rgba(195, 195, 195, 0.48);
    height: 35px;
}

.jlab-edit-contact-form-container{
    padding: 20px 20px;
}

.jlab-main-content-container{
    max-width: 1024px;
    margin: auto;
}
.jlab-main-content{
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.71);
}

.jlab-contact-table-caption{
    height: 25px;
    padding: 1px 16px;
    font-size: 12px;
    font-weight: 900;
    margin-bottom: -15px;
}

.jlab-clickable-contact{
    padding: 5px 5px;
    transition: 150ms;
}
.jlab-clickable-contact:hover{
    background-color:#f0f0f0;
    cursor: pointer;
    transition: 120ms;
}

.jlab-photo-thumbnail-container{
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #c3c3c3;
    border-width: 1px;
    padding: 1px;
    margin: 1px;
}
.jlab-main-photo-container{
    height: 150px;
    width: 130px;
    border: 1px solid #c3c3c3;
}
.jlab-contact-full-name{
    font-size: 18px;
    font-weight: 600;
    margin: auto;
}

.jlab-table-bottom-navigation-bar {
    text-align: right;
    font-weight: 900;
    font-size: 14px;
}

.jlab-footer-panel{
    background-color: #383838;
    position: fixed;
    min-width: 100%;
    height: 30px;
    bottom: 0;
}


.jlab-horizontal-padding-10 {
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
}
.jlab-vertical-padding-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.jlab-left-padding-15{
    padding-left: 15px;
}
.jlab-pull-right{
    float: right;
}
.jlab-pull-left{
    float: left;
}

