ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding: 0;
    border: none;
    /*background-image: url("../img/sheet5.png");*/
}
ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #c3c3c3;
}
ul li:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
ul li:last-child {
    border-bottom: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
li a{
    color: black;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: Arial, Verdana, sans-serif;
    font-size: 15px;
}

.jlab-header-caption-black{
    font-size: 20px;
    font-weight: 900;
    color: black;
}
.jlab-header-caption-red{
    font-size: 20px;
    font-weight: 900;
    color: #ed1c24;
}

.jlab-header-panel{
    padding-top: 10px;
    padding-left: 40px;
    margin: 0;
    position: fixed;
    top: 0;
    min-width: 100%;
    height: 30px;
    background-color: #ffffff;
    border-bottom: 5px solid #f0f0f0;
    box-shadow: 6px 1px 10px 1px rgba(0, 0, 0, 0.71);
}
.jlab-header-panel a{
    text-decoration: none;
}
.jlab-margin-top-70{
    margin-top: 70px;
}

.jlab-contact-table-top-navigation-bar{
    border-radius: 3px;
    background-color: rgba(195, 195, 195, 0.48);
    height: 35px;
}

.jlab-form-container {
    padding: 20px 20px;
}

.jlab-main-content-container{
    max-width: 1024px;
    margin: auto;
}
.jlab-main-content{
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.71);
}

.jlab-contact-table-caption{
    height: 25px;
    padding: 1px 16px;
    font-size: 12px;
    font-weight: 900;
    margin-bottom: -15px;
}

.jlab-selected-contact {
    padding: 5px 5px;
    transition: background-color 250ms;
}
.jlab-selected-contact:hover{
    background-color:#f0f0f0;
    transition: 130ms;
}

.jlab-photo-thumbnail-container{
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #c3c3c3;
    border-width: 1px;
    padding: 1px;
    margin: 1px;
}
.jlab-main-photo-container{
    height: 150px;
    width: 130px;
    border: 1px solid #c3c3c3;
}
.jlab-contact-full-name{
    font-size: 18px;
    font-weight: 600;
    margin: auto;
}

.jlab-table-bottom-navigation-bar {
    text-align: right;
    font-weight: 900;
    font-size: 14px;
}

.jlab-footer-panel{
    background-color: #383838;
    position: fixed;
    min-width: 100%;
    height: 30px;
    bottom: 0;
}
.jlab-phone-numbers-table-caption{

    font-size: 12px;
    font-weight: 900;
}

.jlab-phone-number-table-container{
    border-style: solid;
    border-width: 1px;
    border-color: #c3c3c3;
    border-radius: 3px;
    padding: 5px 20px;
}
.jlab-modal-container{
    transition: 500ms;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.37);
    z-index: 2;
}
.jlab-hidden{
    /*transform: translateY(-100vh);*/
    opacity: 0;
    z-index: -1;
}

.jlab-modal{
    border-radius: 3px;
    border: 1px solid grey;
    background-color: #ffffff;
    max-width: 350px;
    z-index: 3;
    padding: 35px 20px;
    margin: 140px auto auto;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.71);
}
.jlab-form-item{
    padding: 10px 0;
    width: 280px;
    text-align: right;
}

.jlab-horizontal-padding-10 {
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
}
.jlab-vertical-padding-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.jlab-left-padding-15{
    padding-left: 15px;
}
.jlab-pull-right{
    float: right;
}
.jlab-pull-left{
    float: left;
}

